<div class="container">
<div class="row">
<br />
<form [formGroup]="form" (submit)="onSave()" >
<div class="col-md-9">

    <div class="panel panel-default">
        <div class="panel-body">Add Menu <i class="fa fa-bars" aria-hidden="true"></i></div>
      </div>
    <div class="row">
        <div class="col-md-4"><strong>Quote Date: </strong>
        
        </div>
    </div>
</div>
</form>
<div class="col-md-3">

    <div class="panel panel-danger">
        <strong>Quote Summary At a Glance</strong>
    <strong>Total Part: </strong>
    <strong>GST: </strong>
    <strong>Total W/Part: </strong>
      </div>
   
 
</div>
</div>
</div>

